@using insideAirbnb.Shared
@inject IHttpClientFactory _clientFactory

<div class="sidebar">
    <button type="button" class="btn btn-primary backbutton" onclick="@BackButton"><i class="bi bi-chevron-left"></i>Back</button>

    <h2>@SelectedListing.Name</h2>
    <div style="background-image: url('@SelectedListing.PictureUrl'); width: 100%; height: 250px; background-size: cover; background-position: center center;">
        
    </div>
    <div>
        <a href="@SelectedListing.HostUrl" target="_blank" class="sidebar-host">
            <div class="hostname">
                <span class="host">@SelectedListing.HostName</span>
                <p class="about">@SelectedListing.HostAbout</p>
            </div>

            <div class="image">
                <img width="100%" height="auto" src="@SelectedListing.HostPictureUrl" />
            </div>
        </a>
        
        <p class="price">$@SelectedListing.Price per night</p>
        <p><strong>Neighbourhood</strong><br/>@SelectedListing.NeighbourhoodCleansed</p>
        <p><strong>Reviews</strong><br/>@SelectedListing.NumberOfReviews (@SelectedListing.NumberOfReviewsL30d in the last 30 days)</p>
        <p><strong>Room type</strong><br/>@SelectedListing.RoomType</p>
        <p><strong>Average Price in Neighbourhood</strong><br />$@AverageNeighbourhoodPrice</p>
        <a href="@SelectedListing.ListingUrl" target="_blank">View Listing on Airbnb</a>
    </div>
</div>


@code {
    [Parameter]
    public bool ShowSelectedListing { get; set; }
    [Parameter]
    public Listings SelectedListing { get; set; }
    [Parameter]
    public Action BackButton { get; set; }
    [Parameter]
    public int AverageNeighbourhoodPrice { get; set; }
}
